version: '3.3'

services:
  graphql-dev:
    build:
      dockerfile: Dockerfile
      context: .
      target: development
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - ${PORT}:3000
    depends_on:
      - postgres
    env_file:
     - .env
    command: sh -c "yarn --cwd api dev"
    networks:
      - main-network

  graphql-prod:
    build:
      dockerfile: Dockerfile
      context: .
      target: production
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    env_file:
      - .env
    command: sh -c "yarn --cwd api prod"
    ports:
      - ${PORT}:3000
    networks:
      - main-network
    depends_on:
      - postgres

  postgres:
    image: postgres:13
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - ${DB_PORT}:5432
    volumes:
      - db:/var/lib/postgresql/data
    networks:
      - main-network
    env_file:
     - .env

volumes:
  db:
    driver: local

networks:
  main-network:


